#cabin{
    display: flex;
    flex-direction: row;    
    gap: 2rem;
    background-color: lightskyblue;
    height: 120px;
    border: solid black 1px;
    width: 100%;
    justify-content: space-between;
}

#cabinButtons{
    display: flex;
    flex-direction: column;
    height: 100px;
    gap: 0px;
    margin-left: 0.2rem;
}

#cabinQueue{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items:end;
    width: 7rem;
    justify-content:left;
}

#direction{
    margin-right: 0.5rem;
}