table{
    border-collapse: collapse;
}

th{
    font-size: 1rem;
    border: none
}

td{
    border: solid 1px lightgray;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    text-align: right;
}

.in{
    color: red;
}

.out{
    color: black;
}